# Data Files
data/

# Python Caches
__pycache__/
*.pyc

# Notebook Checkpoints
.ipynb_checkpoints/

# Local environment
.venv/
venv/
.conda/

# Temporal files
*.tmp
*.log
*.pid

# Astro project - ignore everything EXCEPT dags
airflow/*

# But explicitly include only the dags directory and its contents
!airflow/dags/
!airflow/dags/**
!airflow/dags/*/
!airflow/dags/*/**

airflow/dags/.airflowignore

airflow/dags/print_info.ipynb