# --- Infrastructure ---
apache-airflow-providers-amazon
apache-airflow-providers-postgres
requests

# --- Database & Data Processing ---
duckdb>=1.0.0
pandas
pyarrow>=14.0.0
numpy

# --- Analytics & Machine Learning ---
scikit-learn

# --- Visualization ---
matplotlib
plotly>=5.0.0
keplergl
